{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Add Department</h1>
        
        <!-- Messages Section -->
        {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <!-- Add Department Form -->
        <form method="post" class="mb-5">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Department Name:</label>
                <input type="text" class="form-control" id="name" name="name" pattern="^[a-zA-Z0-9_-]+$" required title="Department code must contain only letters, digits, underscores, or hyphens.">
            </div>
            <button type="submit" class="btn btn-primary">Add Department</button>
        </form>
        
        <!-- Department Table -->
        <h2 class="mb-4">Departments List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID</th>
                    <th scope="col">Department Name</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td> {{department.0}} </td>
                        <td>{{ department.1 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
