{% load static %}
{% include 'nav.html' %}
<section class="container py-5">
    <h1>Employee Details</h1>
    <!-- Table to display employee details -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through employee data from Django view -->
            {% for employee in employees %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.department }}</td>
                <td>
                    <!-- Action buttons -->
                    <a href="{% url 'update' employee_id=employee.id %}"class="btn btn-primary">Update</a>
                    <a href="{% url 'delete' employee_id=employee.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>